*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	font-family: 'Futura',sans-serif;
}

p,div {
	margin: 1rem;
}

header, article, footer {
/*	border: 1px solid black;
	width: 80%;*/
	padding: 1rem;
	margin: 0 auto;
}

.shipImg {
	height: 10rem;
	margin: 1rem;
}

.banner {
	background-color: navy;
	color: white;
	margin: 0;
	padding: 2rem;
}

.main {
	background-color: #e5e5f2;
}

#cruiseDisplayArea {
	width: 100%;
	margin: 0;
	padding: 0;
}

.cruiseProduct {
	width: 100%;
	margin: 1rem auto;
	padding: 1rem;
	background-color: white;
}

.ship {
	font-size: 200%;
}

.price {
	display: inline;
}

.portsOfCall > p {
	margin: 1rem 0;
}