/*************************
***** GENERAL STYLES *****
**************************/

body {
  margin: 0;
  font-family: futura;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

/**************************
****** NAVBAR STYLES ******
***************************/

header {
  width: 100%;
  overflow: auto;
  background-color: #FFF;
  padding-bottom: 30px;
  text-align: center;
}

.logo {
  font-family: 'Futura', serif;
  font-weight: bold;
}

.logo-ping {
  margin-left: 1em;
  height: 3em;
  width: 3em;
  float: left;
}

.navBar {
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px 10px;
}

.navBar h1 {
  margin: 0;
  float: left;
}

.navBar ul {
    float: right;
    margin: 0;
    padding-top: 7px;
}

.navBar li {
  display: inline-block;
  margin: 5px;
  margin-right: 10px;
}

.navMenu a {
  color: #222;
  font-family: 'Futura', serif;
  font-weight: 500;
}

.navMenu a:hover {
}


/**************************
****** INDEX STYLES ******
***************************/

.headerImage {
  height: 400px;
  background-color: #000;
  background-image: url(http://cdn.bigbangfish.com/beautiful/beautiful-ocean/beautiful-ocean-1.jpg);
  width: 100%;
  background-position: center;
  background-size: 100% ;
  background-repeat: no-repeat;
  box-shadow: inset 5px 5px 25px 1px rgba(50, 50, 50, 80);
}

.imageQuote {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 110px;
  text-align: center;
  color: #000;
  text-shadow: 1px 2px 10px #233C3F;
  font-weight: 500;
  font-size: 2em;
  font-family: 'Futura', serif;
  font-weight: 400;
  line-height: 175%;
}

.textWrapper {
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 45px;
}

.textWrapper h3 {
  font-size: 1.7em;
  font-family: 'Futura', serif;
  font-weight: 500;
  color: Navy;
  text-shadow: 1px 1px 5px rgba(57, 94, 96, .2);
}

.textWrapper p {
  font-size: 1em;
  font-family: 'Futura', sans-serif;
  font-weight: 400;
}

.textBlock {
  min-height: 200px;
  box-sizing: border-box;
  background-color: Navy;
  color: #FFF;
  box-shadow: inset 5px 5px 25px 1px rgba(57, 94, 96, .2);
  text-align: center;
  padding: 50px;
  font-size: 1.3em;
}

.textBlock h3 {
  font-weight: lighter;
  font-family: 'Futura' ,serif;
  font-size: 1.5em;
}




/**************************
****** SITE FOOTER ******
***************************/

.site-footer {
  background-color: navy;
  color: white;
  padding: 2em;
  box-sizing: border-box;
  text-align: center;
  font-family: futura;
}

.site-footer h1, img{
  display: inline;
}

.site-footer ul {
  display: inline;
}

.site-footer li {
  display: inline;
  padding: 0 1.5em;
}

.site-footer a {
  color: white;
  font-weight: bolder;
}

.site-footer img {
  height: 1.5em;
  width: 1.5em;
}

.copyright {
  font-size: .7em;
}


/********************
 EMPLOYEEE
 *******************/

.piratePic {
  border-radius: 50%;
  width: 30%;
  min-width: 150px;
}

